.btn-primary {
    color: black !important;
    background-color: #CECECE !important;
    border-color: black !important;
}

.dropdown-menu {
    color: black !important;
    background-color: #CECECE !important;
    border-color: black !important;
}

.dropdown-item {
    color: black !important;
    background-color: #CECECE !important;
    border-color: black !important;
}

.linkcv:link {
    color: #828282;
}

.linkcv:visited {
    color: #828282;
}
.linkcv:hover {
    font-weight: bold;
    color: #474B4E;
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid #9C9C9C !important;
}

td,th {
    text-align: center !important;
    vertical-align: middle !important;
}

  #validation-txt{
    color:red;
    font-size:18px;
    width: 300px;
  }
  #password-3{
    -webkit-text-security: disc;
      -moz-text-security:circle;
       text-security:circle;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
