<!DOCTYPE html>
<html>
    <head>
        <title>UTN FRRO</title>        	    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    
 	<body>
        <div class="container">
            <br>
            <h3>Pagina principal</h3>

            <a href="iniciar_sesion.html" class="btn btn-primary">Iniciar sesion</a> 

            <a href="registrarse.html" class="btn btn-primary">Registrarse</a>
            
            <a href="../Logic/vacantes.php" class="btn btn-primary">Lista vacantes</a> 

            <a href="../Logic/postulaciones.php" class="btn btn-primary">Lista postulaciones</a>
        </div>
	</body>
</html>