<!DOCTYPE html>
<html>
    <head>
        <title>UTN FRRO</title>        	    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="icon" href="https://www.alumnos.frro.utn.edu.ar/utn1.gif">
    </head>
    
 	<body>
        <div class="container">
            <br>
            <h3>Pagina principal</h3>

            <a href="iniciar_sesion.html" class="btn btn-primary">Iniciar sesion</a> 

            <a href="../Logic/cerrar_sesion.php" class="btn btn-primary">Cerrar sesion</a> 

            <a href="registrarse.html" class="btn btn-primary">Registrarse</a>

            <a href="../Logic/modificar_usuario.php" class="btn btn-primary">Modificar usuario</a>

            <a href="baja_usuario.html" class="btn btn-primary">Baja usuario</a>
            <br><br>

            <a href="../Logic/vacantes.php" class="btn btn-primary">Lista vacantes</a> 

            <a href="alta_vacante.html" class="btn btn-primary">Alta vacante</a>

            <a href="baja_vacante.html" class="btn btn-primary">Baja vacante</a>

            <a href="../Logic/postulaciones.php" class="btn btn-primary">Lista postulaciones</a>

            
        </div>
	</body>
</html>